<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type= "text/css" href="public/styles/profile.css">
<link rel="stylesheet" type= "text/css" href="public/styles/welcome.css">
<link rel="stylesheet" type= "text/css" href="public/styles/features.css">
<link rel="stylesheet" type= "text/css" href="public/styles/pets.css">
<link rel="stylesheet" type= "text/css" href="public/styles/care.css">

    <title>Care</title>
</head>

<body>
    <form class="wrapper" method="POST" action="/care">
        
        <div class="top-bar top-bar-clear">
            <a href="/features" class="back-arrow">&lt;</a> 
            <h1>Care</h1>
        </div>

        <div class="pet-header-container">
            <div class="pet-photo-circle">
                <img src="public/img/simba.png" alt="Simba">
            </div>
            <div class="pet-name-display">Simba</div>
        </div>

        <div class="care-content">
            
            <div class="care-grid">
                
                <a href="/weight" class="care-small-card">
                    <div class="care-icon-box">
                            <img src="public/img/weight.png" class="care-icon">
                    </div>
                    <span class="care-label-main">Weight</span>
                    <span class="care-value">5,2 kg</span>
                    <span class="care-date">15/08/2025</span>
                </a>

                <a href="/groom" class="care-small-card">
                    <div class="care-icon-box">
                        <img src="public/img/shower.png" class="care-icon">
                    </div>
                    <span class="care-label-main">Groom</span>
                    <span class="care-label-sub">Last time</span>
                    <span class="care-date">12/08/2025</span>
                </a>

                <a href="/shearing" class="care-small-card">
                    <div class="care-icon-box">
                        <img src="public/img/scissors.png" class="care-icon">
                    </div>
                    <span class="care-label-main">Shearing</span>
                    <span class="care-label-sub">Last time</span>
                    <span class="care-date">10/06/2025</span>
                </a>

                <a href="/trimming" class="care-small-card">
                    <div class="care-icon-box">
                        <img src="public/img/paw.png" class="care-icon">
                    </div>
                    <span class="care-label-main">Trimming claws</span>
                    <span class="care-label-sub">Last time</span>
                    <span class="care-date">18/08/2025</span>
                </a>

            </div>

            <div class="weight-history-panel">
                <h2 class="history-title">Weight history</h2>
                <div class="history-list">
                    <div class="history-item">
                        <span>15/08/2025</span>
                        <span class="history-value">5,2 kg</span>
                    </div>
                    <div class="history-item">
                        <span>03/05/2025</span>
                        <span class="history-value">4,9 kg</span>
                    </div>
                </div>
            </div>

        </div>

    </form>
</body>
</html>