<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type= "text/css" href="public/styles/profile.css">
<link rel="stylesheet" type= "text/css" href="public/styles/welcome.css">
<link rel="stylesheet" type= "text/css" href="public/styles/features.css">
<link rel="stylesheet" type= "text/css" href="public/styles/pets.css">
<link rel="stylesheet" type= "text/css" href="public/styles/vaccinations.css">

    <title>Groom</title>
</head>

<body>
    <form class="wrapper" method="POST" action="/groom">
        
        <div class="top-bar">
            <a href="/care" class="back-arrow">&lt;</a> 
            <h1>Groom</h1>
            
            <div class="profile-pic-container profile-mini">
                <div class="profile-pic"> 
                    <img src="public/img/simba.png" alt="Simba" class="profile-icon-main pet-mini-fix">
                </div>
            </div>
        </div>

        <div class="vaccinations-list">

            <a href="/weightDetails" class="card-welcome vaccination-item">
                <div class="feature-icon-box health-box">
                    <img src="public/img/shower.png" class="feature-icon">
                </div>
                <div class="feature-text-container">
                    <span class="feature-text">Combing out knots</span>
                    <span class="feature-subtext">12/08/2025</span>
                </div>
                <span class="feature-arrow">&gt;</span>
            </a>

            <a href="/weightDetails" class="card-welcome vaccination-item">
                <div class="feature-icon-box health-box">
                    <img src="public/img/shower.png" class="feature-icon">
                </div>
                <div class="feature-text-container">
                    <span class="feature-text">Comprehensive care</span>
                    <span class="feature-subtext">20/07/2025</span>
                </div>
                <span class="feature-arrow">&gt;</span>
            </a>

        </div>

        <button class="button add-button">+</button>

    </form>
</body>
</html>