<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <link rel="stylesheet" type= "text/css" href="public/styles/common.css">
    <title>Login</title>
    <script src="public/scripts/changingIcons.js" defer></script>
</head>

<body>
    <form class="wrapper" method="POST" action="/login">

        <div class="logo">
            <img src="public/img/petnotes_logo.png" class="logo">
            <h1>PetNotes</h1>
        </div>

        <div class="tagline">Welcome back to your pet’s world</div>

        <?php if (isset($messages)) : ?>
            <p class="error-messages"><?= $messages ?></p>
        <?php endif; ?>

        <div class="container">
            <img src="public/img/email.png" class="email-icon">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="container">
            <img src="public/img/padlock.png" class="icon">
            <input type="password" name="password" id="password-field" placeholder="Password">
            <img src="public/img/invisible.png" id="toggle-password" class="icon-switch">
        </div>

        <button type="submit" class="button">Log in</button>

        <div class="bottom-text">
            <span class="small-text">Don't have an account?</span>
            <a href="/registration" class="link">Create one</a>
        </div>

    </form>

</body>
</html>