<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <link rel="stylesheet" type= "text/css" href="public/styles/common.css">
    <title>Registration</title>
    <script src="public/scripts/changingIcons.js" defer></script>
    <script src="public/scripts/blockedButton.js" defer></script>
</head>

<body>
    <form class="wrapper" method="POST" action="/registration">

        <div class="logo">
            <img src="public/img/petnotes_logo.png" class="logo">
            <h1>PetNotes</h1>
        </div>

        <div class="tagline">Create a free account</div>

        <?php if (isset($messages)) : ?>
            <p class="error-messages"><?= $messages ?></p>
        <?php endif; ?>

        <div class="container">
            <img src="public/img/profile.png" class="email-icon">
            <input type="text" name="fisrtName" placeholder="First name">
        </div>

        <div class="container">
            <img src="public/img/profile.png" class="email-icon">
            <input type="text" name="lastName" placeholder="Last name">
        </div>

        <div class="container">
            <img src="public/img/email.png" class="email-icon">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="container">
            <img src="public/img/padlock.png" class="icon">
            <input type="password" name="password" id="password-field" placeholder="Password">
            <img src="public/img/invisible.png" id="toggle-password" class="icon-switch">
        </div>

        <div class="container">
            <img src="public/img/padlock.png" class="icon">
            <input type="password" name="confirmedPassword" id="confirm-password-field" placeholder="Confirm password">
            <img src="public/img/invisible.png" id="toggle-confirm-password" class="icon-switch">
        </div>

        <button type="submit" class="button">Register</button>

        <div class="bottom-text">
            <span class="small-text">Already have an account?</span>
            <a href="/login" class="link">Log in</a>
        </div>

    </form>

</body>
</html>