<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="public/styles/common.css">
    <title>Registration</title>
</head>

<body>
    <form class="wrapper" method="POST" action="/register">

        <div class="logo-row">
            <img src="public/img/petnotes_logo.png" class="main-logo">
            <span class="app-title">PetNotes</span>
        </div>

        <div class="tagline">Create a free account</div>

        <?php if (isset($message)) : ?>
            <p class="error-message"><?= $message ?></p>
        <?php endif; ?>

        <div class="input-container">
            <img src="public/img/profile.png" class="icon-name">
            <input type="text" name="name" placeholder="Name">
        </div>

        <div class="input-container">
            <img src="public/img/email.png" class="icon-email">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="input-container">
            <img src="public/img/padlock.png" class="icon-padlock">
            <input type="password" name="password" id="password-field" placeholder="Password">
            <img src="public/img/invisible.png" id="toggle-password" class="icon-invisible">
        </div>

        <div class="input-container">
            <img src="public/img/padlock.png" class="icon-padlock">
            <input type="password" name="confirmedPassword" id="confirm-password-field" placeholder="Confirm password">
            <img src="public/img/invisible.png" id="toggle-confirm-password" class="icon-invisible">
        </div>

        <button type="submit" class="register-btn">Register</button>

        <div class="bottom-text">
            <span class="small-text">Already have an account?</span>
            <a href="/login" class="login-link">Log in</a>
        </div>

    </form>

    <script src="public/scripts/changingIcons.js"></script>
</body>
</html>