<?php include '/app/public/views/partials/header.php'; ?>
    <title>Login</title>
</head>

<body>
    <form class="wrapper" method="POST" action="/login">

        <div class="logo">
            <img src="public/img/petnotes_logo.png" class="logo">
            <h1>PetNotes</h1>
        </div>

        <div class="tagline">Welcome back to your pet’s world</div>

        <?php include '/app/public/views/partials/status-messages.php'; ?>

        <div class="container">
            <img src="public/img/email.png" class="email-icon">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="container">
            <img src="public/img/padlock.png" class="icon">
            <input type="password" name="password" id="password-field" placeholder="Password">
            <img src="public/img/invisible.png" id="toggle-password" class="icon-switch">
        </div>

        <button type="submit" class="button">Log in</button>

        <div class="bottom-text">
            <span class="small-text">Don't have an account?</span>
            <a href="/registration" class="link">Create one</a>
        </div>

<?php include '/app/public/views/partials/footer.php'; ?>