<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type="text/css" href="public/styles/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/editPet.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addPetModal.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addVaccination.css">
    <title>Add Pet</title>
</head>

<body>
    <form class="modal-content wrapper" method="POST" action="/addPet" enctype="multipart/form-data">
            
        <div class="modal-header-actions">
            <a href="/pets" class="action-btn close-btn">
                <img src="public/img/cancel.png" alt="Close">
            </a>
            <div class="right-actions">
                <button type="submit" class="action-btn save-btn">
                    <img src="public/img/confirm.png" alt="Save">
                </button>
            </div>
        </div>

        <div class="profile-pic-container" onclick="document.getElementById('file-input').click()">
            <div class="profile-pic"> 
                <img src="<?= $pet['picture_url'] ? $pet['picture_url'] : 'public/img/default_pet.png' ?>" 
                alt="Pet Picture" 
                class="profile-icon-main pet-img <?= $pet['picture_url'] ? 'user-photo' : '' ?>" 
                id="petImagePreview">
            </div>
    
            <div class="edit-icon"> 
                <img src="public/img/edit.png" alt="Edit Icon" class="edit-icon-img">
            </div>
            <input type="file" name="picture" id="file-input" style="display:none" accept="image/*" onchange="previewImage(this)">
        </div>

        <div class="input-group">
            <label class="input-label">Pet type</label>
            <div class="container">
                <input type="text" name="type" placeholder="Dog" required>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Name</label>
            <div class="container">
                <input type="text" name="name" placeholder="Pumpkin" required>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Date of birth</label>
            <div class="container date-input-container">
                <input type="date" name="birthDate" required>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Sex</label>
            <input type="hidden" name="sex" id="sexInput" value="Male">
            <div class="sex-selection">
                <button type="button" class="sex-button male active" onclick="setSex('Male', this)">
                    <img src="public/img/male.png" class="sex-icon"> Male
                </button>
                <button type="button" class="sex-button female" onclick="setSex('Female', this)">
                    <img src="public/img/female.png" class="sex-icon"> Female
                </button>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Breed</label>
            <div class="container">
                <input type="text" name="breed" placeholder="Welsh Corgi Pembroke">
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Color</label>
            <div class="container">
                <input type="text" name="color" placeholder="Red and White">
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Microchip number</label>
            <div class="container">
                <input type="text" name="microchip" placeholder="9002147294610283">
            </div>
        </div>

    </form>
    <script src="public/scripts/sexSelection.js" defer></script>
    <script src="public/scripts/picture.js" defer></script>
</body>
</html>