<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type="text/css" href="public/styles/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/pets.css">
    <title>MyPets</title>
</head>
<body>
    <div class="wrapper">
        <div class="top-bar top-bar-clear">
            <a href="/welcome" class="back-arrow">&lt;</a> 
            <h1>My pets</h1>
            <div class="profile-pic-container profile">
                <a href="/profile">
                    <div class="profile-pic">
                        <img src="<?= $user['picture_url'] ? $user['picture_url'] : 'public/img/profile.png' ?>" 
                        alt="Profile Picture" 
                        class="profile-icon-main <?= $user['picture_url'] ? 'user-photo' : '' ?>">
                    </div>
                </a>
            </div>
        </div>

        <div class="pets-list">
            <?php if (empty($pets)): ?>
                    <p class="card-name">You don't have any pets added!</p>
                </div>
            <?php else: ?>
                <?php foreach ($pets as $pet): ?>
                    <a href="/features?id=<?= $pet['id'] ?>" class="card">
                        <div class="card-image-container">
                            <img src="<?= $pet['picture_url'] ?? 'public/img/default_pet.png' ?>" class="card-image">
                        </div>
                        <div class="card-text">
                            <div class="card-name"><?= htmlspecialchars($pet['name']) ?></div>
                            <div class="card-details"><?= htmlspecialchars($pet['pet_type']) ?>, <?= htmlspecialchars($pet['breed']) ?></div>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>

        <a href="/addPet" class="button add-button">+</a>
    </div>
    <script src="public/scripts/picture.js" defer></script>
</body>
</html>