<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type="text/css" href="public/styles/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/editPet.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addPetModal.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addVaccination.css">
    <title>Add Weight</title>
</head>

<body>
    <form class="modal-content wrapper" method="POST" action="/addWeight?id=<?= $petId ?>">
            
        <div class="modal-header-actions">
            <a href="/weight?id=<?= $petId ?>" class="action-btn close-btn">
                <img src="public/img/cancel.png" alt="Close">
            </a>
            <div class="right-actions">
                <button type="submit" class="action-btn save-btn">
                    <img src="public/img/confirm.png" alt="Save">
                </button>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Weight</label>
            <div class="row-layout">
                <div class="container dose-input-small">
                    <input type="text" name="weight" placeholder="0.4" required>
                </div>
                    
                <div class="unit-selector-container">
                    <select name="unit" class="unit-dropdown">
                        <option value="kg">kg</option>
                        <option value="g">g</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Date</label>
            <div class="row-layout">
                <div class="container date-input-container">
                    <input type="date" name="date" value="<?= date('Y-m-d') ?>" required>
                </div>
            </div>
        </div>
    </form>
</body>
</html>