<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type="text/css" href="public/styles/components/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/welcome.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/features.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/pets.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/care.css">

    <title>Care</title>
</head>

<body>
    <form class="wrapper" method="POST" action="/care">
        
        <div class="top-bar top-bar-clear">
            <a href="/features?id=<?= $pet['id'] ?>" class="back-arrow">&lt;</a> 
            <h1>Care</h1>
        </div>

        <div class="pet-header-container">
            <div class="pet-photo-circle">
                <img src="<?= $pet['picture_url'] ? $pet['picture_url'] : 'public/img/default_pet.png' ?>" alt="<?= $pet['name'] ?>">
            </div>
            <div class="pet-name-display"><?= $pet['name'] ?></div>
        </div>

        <div class="card-container-welcome">
            
            <div class="care-grid">
                
                <a href="/weight?id=<?= $pet['id'] ?>" class="card-welcome">
                    <div class="feature-icon-box">
                            <img src="public/img/weight.png" class="feature-icon">
                    </div>
                    <span class="care-label-main">Weight</span>
                    <span class="care-label-sub">
                        <?= $latestWeight ? date('d.m.Y', strtotime($latestWeight['recorded_date'])) : 'No history' ?>
                    </span>
                </a>

                <a href="/groom?id=<?= $pet['id'] ?>" class="card-welcome">
                    <div class="feature-icon-box">
                        <img src="public/img/shower.png" class="feature-icon">
                    </div>
                    <span class="care-label-main">Groom</span>
                    <span class="care-label-sub">
                        <?= $latestGroom ? date('d.m.Y', strtotime($latestGroom['groom_date'])) : 'No history' ?>
                    </span>
                </a>

                <a href="/shearing?id=<?= $pet['id'] ?>" class="card-welcome">
                    <div class="feature-icon-box">
                        <img src="public/img/scissors.png" class="feature-icon">
                    </div>
                    <span class="care-label-main">Shearing</span>
                    <span class="care-label-sub">
                        <?= $latestShearing ? date('d.m.Y', strtotime($latestShearing['shearing_date'])) : 'No history' ?>
                    </span>
                </a>

                <a href="/trimming?id=<?= $pet['id'] ?>" class="card-welcome">
                    <div class="feature-icon-box">
                        <img src="public/img/paw.png" class="feature-icon">
                    </div>
                    <span class="care-label-main">Trimming claws</span>
                    <span class="care-label-sub">
                        <?= $latestTrimming ? date('d.m.Y', strtotime($latestTrimming['trimming_date'])) : 'No history' ?>
                    </span>
                </a>

            </div>

            <div class="card-weight">
                <h2 class="history-title">Weight history summary</h2>
                <div class="history-list">
                    
                    <?php if (empty($recentWeights)): ?>
                        <div class="history-item">
                            <span>No weight recorded yet.</span>
                        </div>
                    <?php else: ?>
                        <?php foreach ($recentWeights as $w): ?>
                            <div class="history-item">
                                <span><?= date('d.m.Y', strtotime($w['recorded_date'])) ?></span>
                                <span class="history-value"><?= $w['weight'] ?> <?= $w['unit'] ?></span>
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>

                </div>
            </div>

        </div>

    </form>
</body>
</html>