<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type="text/css" href="public/styles/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/editPet.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addPetModal.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addVaccination.css">
    <title>Edit Schedule</title>
</head>

<body>
    <form class="modal-content wrapper" method="POST" action="/editSchedule">
            
        <div class="modal-header-actions">
            <a href="/nutrition" class="action-btn close-btn">
                <img src="public/img/cancel.png" alt="Close">
            </a>
            <div class="right-actions">
                <button type="submit" class="action-btn save-btn">
                    <img src="public/img/confirm.png" alt="Save">
                </button>
                <button type="button" class="action-btn delete-btn">
                    <img src="public/img/delete.png" alt="Delete">
                </button>
            </div>
        </div>

        <div class="input-group vaccination-name-group">
            <label class="input-label">Name</label>
            <div class="container">
                <input type="text" name="vaccinationName" placeholder="Canned cat food">
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Time</label>
            <div class="row-layout">
                <div class="container dose-input-small time">
                    <input type="text" name="dose" placeholder="14:00">
                </div>
            </div>
        </div>
    </form>
</body>
</html>