.top-bar {
    background-color: transparent;
    box-shadow: none;
}

/* kontener kalendarz */
.card-welcome.calendar-container {
    margin-top: 11vh;
    width: clamp(24em, 24rem + 2vw, 28em); 
    height: auto;
    padding: 1.5vw;
    box-sizing: border-box;
}

.events {
    padding: 0.85vw;
    color: #8F769E; 
    font-size: 0.7em;
}

/* przełącznik widoku w kalendarzu*/
.tab-switch {
    background-color: #8F769E;
    border-radius: 0.5vw;
    padding: 0.25vw;
    display: flex;
    width: 100%;
    margin-bottom: 0.85vw;
    box-sizing: border-box;
}

/* niewybrany widok */
.tab-button {
    flex: 1;
    border: none;
    padding: 0.5vw;
    border-radius: 0.4vw;
    background-color: transparent;
    color: white;
    font-size: clamp(0.5em, 0.5rem + 0.1vw, 0.7em);
    font-family: 'Jua';
    cursor: pointer;
}

/* wybrany widok */
.tab-button.active {
    background-color: #F6F6F6;
    color: #934CBE;
}

.calendar-header-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #934CBE;
    font-size: clamp(0.7em, 0.7rem + 0.15vw, 1em);
    font-weight: bold;
    padding: 0 0.5vw;
    width: 100%;
    margin-bottom: 0.5vw;
    box-sizing: border-box;
}

.weekdays-preview {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #8F769E;
    font-size: clamp(0.5em, 0.5rem + 0.1vw, 0.6em);
    width: 100%;
    margin-bottom: 0.5vw;
}

.nav-arrow-preview {
    font-weight: normal;
    cursor: pointer;
}

.days-grid-preview {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: auto; 
    text-align: center;
    gap: 0.05vw;
    width: 100%;
    margin-bottom: 1vw;
}

.list-view-container {
    background-color: #F6F6F6;
    border-radius: 0.7vw;
    padding: 1.4vw;
    box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.2);
    display: none;
    width: 85%;
    width: 100%; 
    box-sizing: border-box;
}

.day {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: clamp(0.4em, 0.4rem + 0.1vw, 0.5em);
    color: #934CBE;
    cursor: pointer;
}

.day.dimmed {
    color: #8F769E;
}

.day.active-day {
    background-color: #934CBE;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

.day:not(.prev-date):not(.next-date):hover {
    background-color: #f0f0f0;
    border-radius:  2vw;
}

.dot {
    position: absolute;
    bottom: 0.07vw;
    width: 0.35vw;
    height: 0.35vw;
    border-radius: 50%;
    background-color: #934CBE   ;
}

/* dzisiejsze wydarzenia */
.today-events-header {
    color: #934CBE;
    font-size: clamp(0.9em, 0.9rem + 0.3vw, 1.2em);
    font-weight: bold;
    margin-bottom: 1.2vw;
}

.event-card {
    display: flex;
    align-items: center;
    padding: 0.6vw 0;
    margin-bottom: 0.9vw;
}

.event-image-container {
    width: clamp(2.4em, 2.4rem + 0.3vw, 3em);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-right: 0.9vw;
    overflow: hidden;
    position: relative;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.event-details {
    flex-grow: 1;
}

.event-title {
    color: #934CBE;
    font-size: clamp(0.72em, 0.72rem + 0.18vw, 0.9em);
    font-weight: bold;
}

.event-pet-name, .event-time {
    color: #8F769E;
    font-size: clamp(0.55em, 0.55rem + 0.12vw, 0.65em);
}

.bin-icon {
    margin-left: 0.65em;
    width: 1em;
    cursor: pointer;
}

.noevents {
    text-align: center;
    color: #8F769E;
    padding: 1vw;
}

@media (max-width: 480px) {
    .card-welcome.calendar-container {
        width: 92vw;
        padding: 3vw;
        margin: 6vh auto 0.5vh auto; 
    }

    .calendar-header-view {
        font-size: 1.1em;
        margin-bottom: 1.5vh;
    }

    .weekdays-preview {
        font-size: 0.75em;
    }

    .tab-switch {
        padding: 1.5vw;
        border-radius: 3vw;
        margin-bottom: 3vh;
    }
    
    .tab-button {
        padding: 2vw;
        border-radius: 2.5vw;
        font-size: 0.9em;
    }
    
    .day {
        font-size: 0.9em;
    }

    .dot {
        width: 1.2vw;
        height: 1.2vw;
    }
    
    .list-view-container {
        padding: 3vw;
    }
}