/* kontener kalendarz */
.calendar-container {
    margin: 8.5vw 0 1.8vw 0;
}

.events {
    padding: 1vw; 
    color: #8F769E; 
    font-size: 0.8em;
}

/* przełącznik widoku w kalendarzu*/
.tab-switch {
    background-color: #8F769E;
    border-radius: 0.6vw;
    padding: 0.3vw;
    display: flex;
    margin-bottom: 1vw;
}

/* niewybrany widok */
.tab-button {
    flex: 1;
    border: none;
    padding: 0.6vw;
    border-radius: 0.5vw;
    background-color: transparent;
    color: white;
    font-size: clamp(0.6em, 0.6rem + 0.1vw, 0.8em);
    font-family: 'Jua';
    cursor: pointer;
}

/* wybrany widok */
.tab-button.active {
    background-color: #F6F6F6;
    color: #934CBE;
}

.day {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: clamp(0.4em, 0.4rem + 0.1vw, 0.5em);
    color: #934CBE;
    cursor: pointer;
}

.day.dimmed {
    color: #8F769E;
}

.day.active-day {
    background-color: #934CBE;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}

.day:not(.prev-date):not(.next-date):hover {
    background-color: #f0f0f0;
    border-radius:  2vw;
}

.dot {
    position: absolute;
    bottom: 0.07vw;
    width: 0.35vw;
    height: 0.35vw;
    border-radius: 50%;
    background-color: #934CBE   ;
}

/* dzisiejsze wydarzenia */
.today-events-header {
    color: #934CBE;
    font-size: clamp(1.05em, 1.05rem + 0.35vw, 1.4em);
    font-weight: bold;
    margin-bottom: 1.4vw;
}

.event-card {
    display: flex;
    align-items: center;
    padding: 0.7vw 0;
    margin-bottom: 1.05vw;
}

.event-image-container {
    width: clamp(2.8em, 2.8rem + 0.35vw, 3.5em);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-right: 1.05vw;
    overflow: hidden;
    position: relative;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.event-details {
    flex-grow: 1;
}

.event-title {
    color: #934CBE;
    font-size: clamp(0.84em, 0.84rem + 0.21vw, 1.05em);
    font-weight: bold;
}

.event-pet-name, .event-time {
    color: #8F769E;
    font-size: clamp(0.63em, 0.63rem + 0.14vw, 0.77em);
}

.list-view-container {
    background-color: #F6F6F6;
    border-radius: 0.7vw;
    padding: 1.4vw;
    box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.2);
    display: none; 
}

.bin-icon {
    margin-left: 0.75em;
    width: 1.2em;
    cursor: pointer;
}

.noevents {
    text-align: center;
    color: #8F769E;
    padding: 1vw;
}

@media (max-width: 480px) {
    .tab-switch {
        padding: 1.05vw;
        border-radius: 2.8vw;
        margin-bottom: 2.8vw;
    }
    
    .tab-button {
        padding: 1.75vw;
        border-radius: 2.1vw;
        font-size: 0.84em;
    }
    
    .day {
        font-size: 0.84em;
        padding: 0.7vw 0;
    }

    .dot {
        width: 1.05vw;
        height: 1.05vw;
        bottom: 0.35vw;
    }
}