.pet-header-container {
    margin-top: 2.5vw;
}

.care-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8vh;
    justify-content: right;
    flex: 1;
    min-width: clamp(20em, 20rem + 5vw, 30em);
}

.card-welcome {
    width: clamp(8em, 8rem + 2vw, 10em); 
    height: clamp(5em, 5rem + 2vw, 7em);
    padding: 1.35vw;
    display: flex;
    flex-direction: column;
}

.feature-icon-box {
    width: clamp(2.25em, 2.25rem + 0.9vw, 3.6em); 
    border-radius: 0.45vw;
    margin-bottom: 0.9vh;
}

.feature-icon {
    width: 60%;
}

.care-label-main {
    color: #934CBE;
    font-weight: bold;
    font-size: clamp(1em, 1rem + 0.18vw, 1.25em); 
}

.care-label-sub {
    color: #8F769E;
    font-size: clamp(0.8em, 0.8rem + 0.1vw, 1em);
    margin-top: 2px;
}

.card-weight {
    flex: 1;
    width: clamp(10em, 10rem + 2vw, 15em); 
    background-color: #F6F6F6;
    border-radius: 1vw;
    padding: 1.8vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.history-title {
    color: #934CBE;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2vh;
    font-size: clamp(1.6em, 1.6rem + 0.2vw, 2em);
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.history-item {
    background-color: #8F769E;
    color: white;
    padding: 1vw 1.5vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .care-grid {
        justify-content: center;
    }

    .care-icon-box {
        width: clamp(2em, 2rem + 0.5vw, 3em); 
        border-radius: 3vw;
    }
    
    .care-label-main {
        font-size: clamp(0.8em, 0.8rem + 0.1vw, 1em); 
    }

    .care-label-sub {
        font-size: clamp(0.6em, 0.6rem + 0.1vw, 1em);
    }

    .card-weight {
        border-radius: 3vw;
        padding: 5vw;
    }

    .history-item {
        border-radius: 2vw;
    }
}