body {
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    font-family: "Jua";
}

h1 {
    font-size: clamp(1.5em, 1.5rem + 2vw, 3em);
    margin-left: min(1.4vw, 2%);
    color: #934CBE;
}

/* wyświetlenie elementów na środku kolumnowo*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: min(0.9vw, 1%); 
}

/* logo - wielkość i pozycja */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(6em, 6rem + 2vw, 8em);
    height: clamp(6em, 6rem + 2vw, 8em);
}

/* box na maila i hasło */
.container {
    width: clamp(20em, 20rem + 2vw, 25em);
    height: clamp(2em, 2rem + 1vw, 4em);
    background-color: #F6F6F6;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: min(0.6em, 1%);
    margin-top: min(1.4vw, 2%);
    position: relative;
}

/* wpisywanie danych w boxy */
.container input {
    flex: 1;
    font-size: 1.4vw;
    color: #8F769E;
    border: none;
    outline: none;
    background: transparent;
    padding-left: min(0.6em, 1%);
    /* zabezpieczenie przed wyjściem poza box */
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* przyciski logowania się i rejestracji */
.button {
    width: clamp(6em, 6rem + 2vw, 12em);
    height: clamp(1.5em, 1.5rem + 0.5vw, 3em);
    background-color: #934CBE;
    border: none;
    border-radius: 1.4vw;
    color: white;
    font-size: clamp(2.5em, 2.5rem + 0.75vw, 4em);
    margin-top: clamp(0.5em, 0.5rem + 0.1vw, 1em);
    cursor: pointer;
}

/* tekst informacyjny */
.tagline {
    font-size: clamp(1em, 1rem + 2vw, 2em);
    color: #8F769E;
    margin-top: min(0.4vw, 0.5%);
}

/* wiadomości błędów */
.error-messages {
    color: #B00020;
    font-size: clamp(1em, 1rem + 0.5vw, 2em);
    text-align: center;
}

/* linki "Log in" i "Create one" */
.link {
    font-size: clamp(0.5em, 0.5rem + 1vw, 1em);
    color: #934CBE;
    text-decoration: none;
    margin-top: 0.4vw;
}

/* tekst na dole */
.bottom-text {
    margin-top: 0.9vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: clamp(0.5em, 0.5rem + 1vw, 1em);
    color: #8F769E;
}

/* rozmiar ikon */
.icon {
    width: clamp(1.5em, 1.5rem + 0.5vw, 2em);
    height: clamp(2em, 2rem + 0.5vw, 3em);
    margin-right: 0.4vw;
}

.email-icon {
    width: clamp(1.5em, 1.5rem + 0.5vw, 3em);
    height: clamp(1.5em, 1.5rem + 0.5vw, 3em);
    margin-right: 0.4vw;
}

.icon-switch {
    width: clamp(1.5em, 1.5rem + 0.75vw, 3em);
    height: clamp(2.5em, 2.5rem + 0.5vw, 4em);
    cursor: pointer;
    position: absolute;
    right: 0.9vw;
}

/* wersja mobilna */
@media (max-width: 480px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper {
        margin-top: 0; 
        height: 100%;
        gap: 1vw;
    }

    .container input {
        font-size: 1em; 
        padding-left: 1vw;
    }

    .button {
        margin-bottom: 2vw;
    }
}