body {
    background-color: #E6E6E6;
    font-family: "Jua";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* tytuł */
h1 {
    font-size: clamp(1.5em, 1.5rem + 2vw, 3em);
    margin-left: min(1.4vw, 2%);
    color: #934CBE;
}

/* wyświetlenie elementów na środku kolumnowo*/
.wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: min(0.9vw, 1%); 
}

/* logo - wielkość i pozycja */
.logo {
    display: flex;
    justify-content: center;
    width: clamp(6em, 6rem + 2vw, 8em);
}

/* box na maila i hasło */
.container {
    width: clamp(20em, 20rem + 2vw, 25em);
    height: clamp(2em, 2rem + 1vw, 4em);
    background-color: #F6F6F6;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: min(0.6em, 1%);
    margin-top: min(1.4vw, 2%);
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
    position: relative;
}

/* wpisywanie danych w boxy */
.container input {
    flex: 1;
    font-size: 1.4vw;
    color: #8F769E;
    border: none;
    outline: none;
    background: transparent;
    padding-left: min(0.6em, 1%);
    /* zabezpieczenie przed wyjściem poza box */
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* przyciski logowania się i rejestracji */
.button {
    width: clamp(6em, 6rem + 2vw, 12em);
    height: clamp(1.5em, 1.5rem + 0.5vw, 3em);
    background-color: #934CBE;
    border: none;
    border-radius: 1.4vw;
    color: white;
    font-size: clamp(2.5em, 2.5rem + 0.75vw, 4em);
    margin-top:  min(3vw, 7%);
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.button-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

/* tekst informacyjny */
.tagline {
    font-size: clamp(1em, 1rem + 2vw, 2em);
    color: #8F769E;
    margin-top: min(0.4vw, 0.5%);
}

/* wiadomości */
.error-messages, .success-messages {
    font-size: clamp(1em, 1rem + 0.5vw, 2em);
    text-align: center;
}

.error-messages { color: #B00020;}
.success-messages { color: #17b000;}

/* linki "Log in" i "Create one" */
.link {
    font-size: clamp(0.7em, 0.7rem + 1vw, 1.5em);
    color: #934CBE;
    text-decoration: none;
    margin: min(0.4vw, 1%);
}

/* tekst na dole */
.bottom-text {
    margin-top: min(0.9vw, 2%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.small-text { color: #8F769E; }

/* rozmiar ikon */
.icon {
    width: clamp(1.5em, 1.5rem + 0.5vw, 2em);
    height: clamp(2em, 2rem + 0.5vw, 3em);
    margin-right: 0.4vw;
}

.email { height: clamp(1.5em, 1.5rem + 0.25vw, 2em); }

.icon-switch {
    height: clamp(2em, 2rem + 0.5vw, 3em);
    cursor: pointer;
    position: absolute;
    right: 0.9vw;
}

/* Checkbox polityki prywatności*/
.check-box-container {
    margin-top: min(2vw, 5%);
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: clamp(20em, 20rem + 2vw, 25em);
}

.check-box {
    width: clamp(1.25em, 1.25rem + 0.25vw, 1.5em);
    aspect-ratio: 1/1;
    accent-color: #934CBE;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.privacy-link { color: #934CBE; }

/* wersja mobilna */
@media (max-width: 480px) {
    .container { width: clamp(17em, 17rem + 2vw, 20em); border-radius: 3vw; margin-top: min(3vw, 4%); }
    .tagline { font-size: 1.3em; }
    .container input { font-size: 0.9em; }
    .icon { margin: 0 1vw 0 2vw; }
    .icon-switch { right: 3vw; }
    .button { margin: 5vw 0 2vw 0; border-radius: 5vw; }
    .check-box-container { margin-left: 14vw; }
}