/* tło aplikacji */
body {
    margin: 0;
    padding: 0;
    background: #E6E6E6;
    font-family: "Jua", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
}

/* logo i tytuł */
.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo {
    width: 160px;
    height: 160px;
}

.app-title {
    font-size: 60px;
    margin-left: 15px;
    color: #934CBE;
}

/* tekst informacyjny */
.tagline {
    font-size: 32px;
    color: #8F769E;
    margin-top: 5px;
}

/* boxy na dane wejściowe (email i password) */
.input-container {
    width: 300px; 
    height: 65px;
    background: #F6F6F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 18px;
    position: relative;
}

/* wpisywany tekst i placeholder */
.input-container input {
    flex: 1;
    font-size: 20px;
    color: #8F769E;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;

    /* zabezpieczenie przed wyjściem poza box */
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* właściwości przycisków "Log in" "Register" */
.login-btn, .register-btn {
    width: 300px;
    height: 65px;
    background: #934CBE;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    margin-top: 25px;pu
    cursor: pointer;
}

/* tekst na dole */
.bottom-text {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* linki "Log in" i "Create one" */
.login-link, .create-link {
    font-size: 24px;
    color: #934CBE;
    text-decoration: none;
    margin-top: 4px;
}

/* wiadomości błędów */
.error-message, .message-text {
    color: #934CBE;
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
    max-width: 300px;
}

.small-text {
    font-size: 24px;
    color: #8F769E;
}

/* ikony */
.icon-name, .icon-email, .icon-padlock {
    width: 25px; height: 25px;
    margin-right: 5px;
}

.icon-invisible {
    width: 26px; height: 32px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}