body {
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    font-family: "Jua";
}

h1 {
    font-size: 6vw;
    margin-left: 1.5vw;
    color: #934CBE;
}

/* wyświetlenie elementów na środku kolumnowo*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw; 
}

/* logo - wielkość i pozycja */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;;
    height: 16vw;
}

/* box na maila i hasło */
.container {
    width: 23vw;
    height: 5vw;
    background-color: #F6F6F6;
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    margin-top: 1.5vw;
    position: relative;
}

/* wpisywanie danych w boxy */
.container input {
    flex: 1;
    font-size: 1.5vw;
    color: #8F769E;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 1vw;
    /* zabezpieczenie przed wyjściem poza box */
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* przyciski logowania się i rejestracji */
.button {
    width: 23.5vw;
    height: 5vw;
    background-color: #934CBE;
    border: none;
    border-radius: 1.5vw;
    color: white;
    font-size: 2.5vw;
    margin-top: 2vw;
    cursor: pointer;
}

/* tekst informacyjny */
.tagline {
    font-size: 2.5vw;
    color: #8F769E;
    margin-top: 0.5vw;
}

/* wiadomości błędów */
.error-messages {
    color: #B00020;
    font-size: 2vw;
    margin-top: 1.5vw;
    text-align: center;
    max-width: 23.5vw;
}

/* linki "Log in" i "Create one" */
.link {
    font-size: 2vw;
    color: #934CBE;
    text-decoration: none;
    margin-top: 0.5vw;
}

/* tekst na dole */
.bottom-text {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 24px;
    color: #8F769E;
}

/* rozmiar ikon */
.icon {
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
}

.icon-switch {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    position: absolute;
    right: 1vw;
}