/* rozszwerzony styl features na potrzeby healthBook */
.health-box { background-color: #8F769E; }

.feature-text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1.5vw;
    justify-content: center;
}

.book-text {
    padding-left: 0;
    font-size: clamp(1.2em, 1.2rem + 0.3vw, 1.6em);
    font-weight: normal;
}

.subtext { color: #8F769E; }

@media (max-width: 480px) {
    .feature-text-container { padding-left: 4vw; }
}