.top-bar {
    background-color: #8F769E;
}
.top-bar h1 {
    color: white;
}

.back-arrow {
    color: white;
}

.pet-mini-fix {
    width: 100%;
}

.items {
    gap: 3vh;
    width: 60vw;
    margin: 12vh auto 5vh;
}

.entry {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vw 2vw;
    box-sizing: border-box;
}

.health-box {
    background-color: #8F769E;
}

.feature-text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 2vw;
}

.feature-text {
    color: #8F769E;
    padding-left: 0;
    font-size: clamp(1.1em, 1.1rem + 0.2vw, 1.5em);
    font-weight: normal;
}

.feature-subtext {
    color: #8F769E;
    font-size: clamp(0.8em, 0.8rem + 0.1vw, 1em);
    margin-top: 0.5vw;
}

.add-button {
   background-color: #8F769E;
}

@media (max-width: 480px) {
    .vaccinations {
        width: 72vw;
    }

    .vaccination-item {
        padding: 3vw 4vw;
    }

    .add-button {
        right: 1.5vw;
    }
}