/* .profile-pic-container {
    margin-top: 0.5vw;
} */

.modal-content {
    background-color: #ECECEC;
    width: clamp(18rem, 85vw, 26rem);
    border-radius: 3vw;
    padding: clamp(1vw, 2vw, 3vw);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.modal-header-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-actions {
    display: flex;
    gap: 0.75vw;
}

.modal-pic {
    margin-top: 2vw;
}

/* .input-label {
    font-family: 'Jua';
    color: #934CBE;
    margin-top: 0.5vw;
} */

.vaccination-name-group {
    margin-top: clamp(1rem, 4vw, 2rem);
}

.row-layout {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.date-input-container {
    background-color: #8F769E;
    width: fit-content;
    padding: 0.5vw 1.5vw;
    border-radius: 1.25vw;
}

.date-input-container input {
    color: white;
    font-family: 'Jua';
    font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.date-input-container input::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.dose-input-small {
    width: clamp(5rem, 10vw, 8rem);
    height: clamp(1rem, 2vw, 2rem);
    padding: 0.5vw 1vw;
    border-radius: 1.25vw;
}

.time {
    width: clamp(4.2rem, 6vw, 6rem);
}

.dose-input-small input::-webkit-calendar-picker-indicator {
    filter: invert(53%) sepia(26%) saturate(632%) hue-rotate(234deg) brightness(70%) contrast(90%);
    cursor: pointer;
}

.unit-selector-container {
    background-color: #8F769E;
    height: clamp(1rem, 2vw, 2rem);
    border-radius: 1.25vw;
    padding: 0.5vw 1vw;
    display: flex;
    align-items: center;
}

.unit-dropdown {
    background: #8F769E;
    border: none;
    color: white;
    font-family: 'Jua';
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    cursor: pointer;
    outline: none;
    padding-right: 0.5vw;
}


.modal-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

body {
    color: #934CBE;
    font-family: "Jua";
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 80%;
    max-width: 300px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-cancel {
    background: #E7E7E7;
    color: #8F769E;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Jua";
}

.btn-delete {
    background: #934CBE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Jua";
}

.delete-icon-container {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.action-btn {
    width: clamp(2.5rem, 4vw, 3.5rem);
    aspect-ratio: 1 / 1;
    background-color: #A191AB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .date-input-container {
        border-radius: 2.5vw;
   }
}