body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.top-bar-clear {
    background-color: transparent;
    box-shadow: none;
}

.profile {
    position: fixed;
    right: 1.75vw;
    width: clamp(2.5em, 2.5rem + 0.75vw, 5em);
    margin-top: 0; 
    margin-bottom: 0;
}

.add-button {
    position: fixed;
    right: 1.5vw;
    bottom: 1.5vw;
    width: clamp(1.5em, 7vh, 3em);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.card {
    background-color: #F6F6F6;
    border-radius: 1vw;
    width: clamp(35em, 35rem + 5vw, 60em);
    padding: 0.75vw 0.75vw;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    margin: 2vh 0 2vh 0;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.card-image-container {
    width: clamp(6em, 6rem + 2vw, 10em);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-text {
    flex-grow: 1; 
}

.card-name {
    color: #934CBE;
    font-size: clamp(3em, 3rem + 1vw, 5em);
    font-weight: bold;
}

.card-details {
    color: #8A6DAA;
    font-size: clamp(1.5em, 1.5rem + 0.75vw, 4em);
}

.card-arrow {
    color: #934CBE;
    font-size: clamp(3em, 3rem + 1vw, 5em);
    line-height: 1; 
}

.pets-list {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    .profile {
        right: 4vw;
    }

    .add-button {
        right: 3vw;
        bottom: 3vw;
    }

    .card {
        border-radius: 2vw;
        width: clamp(19em, 19rem + 1vw, 23em);
        padding: 1.6vw 2vw;
        gap: 1.6vw;
    }

    .card-image-container {
        width: clamp(4.5em, 4.5rem + 0.75vw, 6em);
    }

    .card-name {
        font-size: clamp(1.5em, 1.5rem + 0.75vw, 3em);
    }

    .card-details {
        font-size: clamp(0.75em, 0.75rem + 0.25vw, 2em);
    }

    .card-arrow {
        font-size: clamp(1.5em, 1.5rem + 0.75vw, 3em);
    }

}