/* górny pasek nawigacji */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.1vw 0.3vw rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.top-bar h1 {
    margin: 0.1em 0 0.2em 0;
}

.back-arrow {
    position: absolute;
    left: 1.75vw;
    font-size: clamp(1.5em, 1.5rem + 0.5vw, 2em);
    color: #934CBE;
    cursor: pointer;
    text-decoration: none;
}

/* zdjęcie profilowe */
.profile-pic-container {
    position: relative; 
    width: clamp(9em, 9rem + 0.5vw, 10em);
    aspect-ratio: 1 / 1;
    margin-top: 15vh;
    margin-bottom: 4vh;
    cursor: pointer;
    margin-inline: auto;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #934CBE;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-icon-main {
    width: 55%;
    object-fit: contain;
    filter: 
        brightness(0) 
        invert(100%);
}

.profile-icon-main.user-photo {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: none;
}

.edit-icon {
    position: absolute;
    bottom: 0; 
    right: 0;
    background-color: #8F769E;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-icon-img {
    width: 60%; 
}

.none {
    display: none;
}

/* przycisk zatwierdź zmiany */
.button-save {
    width: clamp(8em, 8rem + 2vw, 10em);
    font-size: clamp(2em, 2rem + 0.5vw, 3em);
    margin: 4vh 0 4vh 0;
}