body {
    margin: 0;
    padding: 0;
    background: #E6E6E6; 
    font-family: "Jua", sans-serif;
}

.registration-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
}

/* logo i tytuł */
.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo-reg {
    width: 160px;
    height: 160px;
}

/* tytuł */
.app-title-reg {
    font-size: 60px;
    margin-left: 15px;
    color: #934CBE;
}

/* tekst informacyjny */
.tagline {
    font-size: 40px;
    color: #934CBE;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* boxy na dane wejściowe (Name, Email, Password, Confirmed Password) */
.input-container {
    width: 300px; 
    height: 60px;
    background: #F6F6F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 12px;
    position: relative;
}

/* wpisywany tekst */
.input-container input {
    flex: 1;
    font-size: 20px;
    color: #8F769E;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;

    /* zabezpieczenie przed wyjściem poza box */
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ikony */
.icon-name, .icon-email, .icon-padlock {
    width: 25px; height: 25px;
    margin-right: 5px;
}

.icon-invisible {
    width: 24px; height: 24px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

/* przycisk rejestracji Register */
.register-btn {
    width: 300px;
    height: 60px;
    background: #934CBE;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    margin-top: 20px;
    cursor: pointer;
}

/* tekst do logowania */
.bottom-text {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 20px;
    color: #8F769E;
}

.login-link {
    font-size: 20px;
    color: #934CBE;
    text-decoration: none;
    margin-top: 4px;
}

/* komunikat o błędzie / sukcesie */
.message-text {
    color: #934CBE;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    max-width: 300px;
}