<?php include '/app/public/views/partials/header.php'; ?>
<link rel="stylesheet" type="text/css" href="public/styles/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/editPet.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addPetModal.css">
<link rel="stylesheet" type="text/css" href="public/styles/addingScreens/addVaccination.css">
    <title>Add Visit</title>
</head>

<body>
    <form class="modal-content wrapper" method="POST" action="/addVisit?id=<?= $petId ?>">
            
        <div class="modal-header-actions">
            <a href="/visits?id=<?= $petId ?>" class="action-btn close-btn">
                <img src="public/img/cancel.png" alt="Close">
            </a>
            <div class="right-actions">
                <button type="submit" class="action-btn save-btn">
                    <img src="public/img/confirm.png" alt="Save">
                </button>
            </div>
        </div>

        <div class="input-group vaccination-name-group">
            <label class="input-label">Visit's name</label>
            <div class="container">
                <input type="text" name="name" placeholder="Rabies vaccination" required>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Date</label>
            <div class="row-layout">
                <div class="container date-input-container">
                    <input type="date" name="date" value="<?= date('Y-m-d') ?>" required>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label class="input-label">Time</label>
            <div class="row-layout">
                <div class="container dose-input-small time">
                    <input type="time" name="time" value="<?= date('H:i') ?>">
                </div>
            </div>
        </div>
    </form>
</body>
</html>