<?php include '/app/public/views/partials/header.php'; ?>

<?php
    // Funkcja pobrania ostatnich wpisów
    function getLastDate($array) {
        if (empty($array)) return '-';
        $firstItem = reset($array); 
        return date('d.m.Y', strtotime($firstItem['date']));
    }
?>

<link rel="stylesheet" type="text/css" href="public/styles/components/profile.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/welcome.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/features.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/pets.css">
<link rel="stylesheet" type="text/css" href="public/styles/pages/healthBook.css">

    <title>Health Book</title>
</head>

<body>
    <div class="wrapper">
        
        <div class="top-bar top-bar-clear">
            <a href="/features?id=<?= $pet['id'] ?>" class="back-arrow">&lt;</a> 
            <h1>Health book</h1>
        </div>

        <div class="pet-header-container">
            <div class="pet-photo-circle">
                <img src="<?= $pet['picture_url'] ? $pet['picture_url'] : 'public/img/others/default_pet.png' ?>" alt="<?= $pet['name'] ?>">
            </div>
            <div class="pet-name-display"><?= $pet['name'] ?></div>
        </div>

        <div class="card-container-welcome features-grid">

            <a href="/vaccinations?id=<?= $pet['id'] ?>" class="card-welcome feature-tile">
                <div class="feature-icon-box health-box">
                    <img src="public/img/healthBook/vaccinations.png" class="feature-icon">
                </div>
                <div class="feature-text-container">
                    <span class="feature-text book-text">Vaccinations</span>
                    <span class="subtext">
                        Last: <?= getLastDate($vaccinations) ?>
                    </span>
                </div>
                <span class="feature-arrow">&gt;</span>
            </a>

            <a href="/treatments?id=<?= $pet['id'] ?>" class="card-welcome feature-tile">
                <div class="feature-icon-box health-box">
                    <img src="public/img/healthBook/treatments.png" class="feature-icon">
                </div>
                <div class="feature-text-container">
                    <span class="feature-text book-text">Treatments and surgeries</span>
                    <span class="subtext">
                        Last: <?= getLastDate($treatments) ?>
                    </span>
                </div>
                <span class="feature-arrow">&gt;</span>
            </a>

            <a href="/deworming?id=<?= $pet['id'] ?>" class="card-welcome feature-tile">
                <div class="feature-icon-box health-box">
                    <img src="public/img/healthBook/deworming.png" class="feature-icon">
                </div>
                <div class="feature-text-container">
                    <span class="feature-text book-text">Deworming</span>
                    <span class="subtext">
                        Last: <?= getLastDate($deworming) ?>
                    </span>
                </div>
                <span class="feature-arrow">&gt;</span>
            </a>

            <a href="/visits?id=<?= $pet['id'] ?>" class="card-welcome feature-tile">
                <div class="feature-icon-box health-box">
                    <img src="public/img/healthBook/visits.png" class="feature-icon">
                </div>
                <div class="feature-text-container">
                    <span class="feature-text book-text">Visits to the vet</span>
                    <span class="subtext">
                        Last: <?= getLastDate($visits) ?>
                    </span>
                </div>
                <span class="feature-arrow">&gt;</span>
            </a>

        </div>

    </div>
</body>
</html>