.profile-pic-container {
    margin-top: 0.5vw;
}

.modal-content {
    background-color: #ECECEC;
    width: clamp(18rem, 85vw, 26rem);
    border-radius: 3vw;
    padding: clamp(1vw, 2vw, 3vw);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.modal-header-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-actions {
    display: flex;
    gap: 0.75vw;
}

.modal-pic {
    margin-top: 2vw;
}

.input-label {
    font-family: 'Jua';
    color: #934CBE;
    margin-top: 0.5vw;
}

@media (max-width: 480px) {
    .container {
        width: clamp(19em, 19rem + 4.25vw, 21em);
    }
}