.modal-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

body {
    color: #934CBE;
    font-family: "Jua";
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 80%;
    max-width: 300px;
    }

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-cancel {
    background: #E7E7E7;
    color: #8F769E;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Jua";
}

.btn-delete {
    background: #934CBE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Jua";
}

.delete-icon-container {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.action-btn {
    width: clamp(2.5rem, 4vw, 3.5rem);
    aspect-ratio: 1 / 1;
    background-color: #A191AB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.right-actions {
    display: flex;
    gap: 0.75vw;
}