/* pasek nawigacji */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.1vw 0.3vw rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.top-bar h1 { margin: 0.1em 0 0.2em 0; }

/* inny wariant paska */
.top-bar-clear { background-color: transparent; box-shadow: none; }

/*  strzałka powrotu */
.back-arrow {
    position: absolute;
    left: 1.75vw;
    font-size: clamp(1.5em, 1.5rem + 0.5vw, 2em);
    color: #934CBE;
    cursor: pointer;
    text-decoration: none;
}

/* zdjęcie profilowe */
.profile-pic-container {
    position: relative; 
    width: clamp(9em, 9rem + 0.5vw, 10em);
    aspect-ratio: 1 / 1;
    margin-top: 15vh;
    margin-bottom: 4vh;
    cursor: pointer;
    margin-inline: auto;
}

/* modyfikator dla małego zdjęcia w nagłówku */
.profile-pic-container.profile {
    position: fixed;
    right: 1.75vw;
    width: clamp(2.5em, 2.5rem + 0.75vw, 5em);
    margin: 0;
    aspect-ratio: auto;
    z-index: 1001;
}

.profile-pic {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #934CBE;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* ikona w środku dla nowego konta */
.profile-icon-main {
    width: 55%;
    object-fit: contain;
    filter: brightness(0) invert(100%);
}
.profile-icon-main.user-photo, .pet-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: none;
}

/* ikona edycji */
.edit-icon {
    position: absolute;
    bottom: 0; right: 0;
    background-color: #8F769E;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
}
.edit-icon-img { width: 60%; }

/* przycisk dodwania */
.add-button {
    position: fixed;
    right: 1.5vw;
    bottom: 1.5vw;
    width: clamp(1.5em, 7vh, 3em);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #934CBE;
    color: white;
    border: none;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
    font-size: clamp(2.5em, 2.5rem, 4em);
    cursor: pointer;
    z-index: 100;
}

/* bazowy styl kart */
.card, .card-welcome, .nutrition-card {
    background-color: #F6F6F6;
    border-radius: 2vw;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
}

.none { display: none; }
.button-save {
    width: clamp(8em, 8rem + 2vw, 10em);
    font-size: clamp(2em, 2rem + 0.5vw, 3em);
    margin: 4vh 0 4vh 0;
}

@media (max-width: 480px) {
    .profile-pic-container.profile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4vw;
        width: 10vw;
    }
    
    .add-button {
        right: 4vw;
        width: clamp(1em, 1rem, 1.25em);
        height: clamp(1em, 1rem, 1.25em); 
        font-size: clamp(2.5em, 2.5rem, 4em); 
    }
}