<?php include '/app/public/views/partials/header.php'; ?>
    <link rel="stylesheet" type= "text/css" href="public/styles/profile.css">
    <title>Profile</title>
</head>

<body>
    <form class="wrapper" method="POST" action="/profile">
        
        <div class="top-bar">
            <a href="/welcome" class="back-arrow">&lt;</a> 
            <h1>Edit your profile</h1>
        </div>

        <?php include '/app/public/views/partials/status-messages.php'; ?>

        <div class="profile-pic-container">
            <div class="profile-pic"> 
                <img src="public/img/profile.png" alt="Profile Picture" class="profile-icon-main">
            </div>
    
            <div class="edit-icon"> 
                <img src="public/img/edit.png" alt="Edit Icon" class="edit-icon-img">
            </div>
        </div>

        <div class="container">
            <img src="public/img/profile.png" class="email-icon">
            <input type="text" name="firstName" placeholder="First name">
        </div>

        <div class="container">
            <img src="public/img/profile.png" class="email-icon">
            <input type="text" name="lastName" placeholder="Last name">
        </div>

        <div class="container">
            <img src="public/img/email.png" class="email-icon">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="container">
            <img src="public/img/padlock.png" class="icon">
            <input type="password" name="password" id="password-field" placeholder="Password">
            <img src="public/img/invisible.png" id="toggle-password" class="icon-switch">
        </div>

        <button class="button button-save">Save changes</button>

<?php include '/app/public/views/partials/footer.php'; ?>